[2020-06-05 16:39] magnificode opened #21 "Create ContactCard component structure"
### Contact Card
Component Screenshot: https://share.getcloudapp.com/P8uedn2L
Figma design: https://www.figma.com/file/Lo1ZcBOO9t4QRbX2I0PwBQ/RBB?node-id=161%3A0

The contact card should output the following data:
- URL (or modal trigger)
- Image URL
- Title
- Blurb

The _entire card_ should be clickable and trigger either the URL or a modal popup.

**Note: Just the rough layout, styling not impor

[2020-06-05 16:49] molebox commented on #21
Id love to jump on this one

[2020-06-05 17:03] magnificode opened #22 "Create ResultCard component structure"
Trello: https://trello.com/c/g5OZn1z8

The ResultCard has two variations:

### ResultCard Default State

![Screen Shot 2020-06-05 at 10 50 53 AM](https://user-images.githubusercontent.com/1380536/83902977-98a28f00-a71a-11ea-8aef-f4c791e40928.png)

The ResultCard default state should output the following data from Airtable:
- Business Image - Does not exist in Airtable currently, read on.
  - Use i

[2020-06-05 17:37] chancestrickland commented on #22
On it

[2020-06-05 17:37] magnificode opened #24 "Create filtering and sorting logic"
### Business Filtering

![Screen Shot 2020-06-05 at 11 08 43 AM](https://user-images.githubusercontent.com/1380536/83904346-ed470980-a71c-11ea-9605-7c5ba60f4129.png)

Filters should be created to allow a user to filter results from the [BusinessInNeedFeed](https://github.com/Rebuild-Black-Business/RBB-Website/blob/master/src/components/Feeds/BusinessInNeedFeed.js) component by the following criter

[2020-06-05 17:41] ryancharris commented on #24
Got it 👍

[2020-06-05 17:47] magnificode commented on #24
@ryancharris - Added expectations for the filter results, along with important accessibility considerations. This one is a beast, so if you need to recruit a friend to help out with the a11y bits please don't hesitate to do so.

[2020-06-05 17:51] ryancharris commented on #24
@magnificode Sounds good. I'm planning on breaking the two components into separate PRs to make them easier to review. I will also be using Chakra components where possible, so we can reduce the a11y issues. I'll ask some folks who have more a11y experience than I do to review 👍

[2020-06-05 18:02] molebox commented on #21
"The entire card should be clickable and trigger either the URL or a modal popup." -

So will the image be a link to the contact? I dont quite understand the requirement.

[2020-06-05 18:08] magnificode commented on #21
![Screen Shot 2020-06-05 at 12 04 19 PM](https://user-images.githubusercontent.com/1380536/83908631-b07f1080-a724-11ea-81bf-37b0fa38a528.png)

Apologies, let me elaborate off of the above screenshot:

Each card has an image.

If we look at the "Business Owners" card. On click of this card, a business registration form modal will appear. Don't worry about the contents of the modal for now, we just

[2020-06-05 18:11] molebox commented on #21
Thats great info thank you! So its actually three cards with separate use cases!

[2020-06-05 18:12] magnificode commented on #22
![](https://github.trello.services/images/mini-trello-icon.png) [Create "ResultCard" component](https://trello.com/c/g5OZn1z8/34-create-resultcard-component)

[2020-06-05 18:12] magnificode commented on #21
![](https://github.trello.services/images/mini-trello-icon.png) [Create "ContactCard" component](https://trello.com/c/X4xUWB2H/35-create-contactcard-component)

[2020-06-05 18:12] magnificode commented on #24
![](https://github.trello.services/images/mini-trello-icon.png) [Create Feed filtering component and functionality](https://trello.com/c/htXVUBxL/36-create-feed-filtering-component-and-functionality)

[2020-06-05 18:15] molebox commented on #21
Ahh i missed the screenshot, too eager! Thank you for clarifying :)

[2020-06-05 18:37] magnificode commented on #21
Three separate cards, but should only be one React component, with props to address each use case :)

No worries at all!

[2020-06-05 18:41] molebox commented on #21
Yep, all over it! First time using Chakra so learning that as i go. Will hopefully have this done by latest Sunday night.

[2020-06-05 18:51] ChrisBrownie55 commented on #21
I might suggest using the `react-spring-modal` package for the modals as well. It's a library I made that abstracts out a lot of the accessibility issues when dealing with models while still allowing you to keep the modals looking professional with the possibility of animations/transitions via react-spring. If not that's fine too as long as the modals we use are accessible.

[2020-06-05 19:03] chancestrickland commented on #22
Starting out with a generic, composable set of `Card` components. You can opt in or out to any of the sub components pretty easily, and override whatever you need on the sub-component itself. Later this evening I'll circle back here and abstract this into a higher-level API for the result card.

[code]

![image](https://user-images.githubusercontent.com/3082153/83913397-42d2e480-a724-11ea-89e2-d89

[2020-06-05 19:32] molebox commented on #21
Thanks Chris, We're using Chakra so I had thought to use their modal, but I will take a look at this package. I'm not a massive fan of spring but if needs must... 😊

[2020-06-05 20:28] ryancharris commented on #24
@magnificode In this PR, I will also update the theme config to include our "primary buttons"

[2020-06-05 21:17] magnificode opened #30 "Create Button component and variations"
### Buttons

Figma: https://www.figma.com/file/Lo1ZcBOO9t4QRbX2I0PwBQ/RBB?node-id=2%3A102

Buttons should extend existing Chakra UI components to achieve the style outlined in the figma document for each state and variation.

[2020-06-05 21:33] ChrisBrownie55 commented on #24
Thought this might help:

[code]

The only thing that might need to be improved is the checking to see for matches. Might make more sense to use a RegExp to allow for partial matches.

[2020-06-05 21:50] ChrisBrownie55 commented on #30
Jumping on it 👍

[2020-06-05 21:53] magnificode opened #32 "Build GlobalHeader component"
### Global Header

Figma: https://www.figma.com/file/Lo1ZcBOO9t4QRbX2I0PwBQ/RBB?node-id=427%3A670

The GlobalHeader component should consist of a SVG version of the RBB logo that when clicked, navigates to the home page.

Pages in the navigation should follow this structure:

Home (slug: "/")
About (slug: "/about")
Businesses (slug: "/businesses")
Allies (slug: "/allies")
Resources (slug: "/resour

[2020-06-05 23:15] magnificode commented on #32
![](https://github.trello.services/images/mini-trello-icon.png) [Build & Style Navigation](https://trello.com/c/9G6lFSui/39-build-style-navigation)

[2020-06-05 23:33] ChrisBrownie55 commented on #30
Done! https://github.com/Rebuild-Black-Business/RBB-Website/pull/34

[2020-06-05 23:39] ChrisBrownie55 commented on #30
I now realize that there's another PR that was put out for this (didn't see the Trello and claimed here, sorry). However, I think the PR I put up is a bit more configurable and uses the `<Button>` component from ChakraUI internally instead of just `<PseudoBox>` which has less functionality built into it (`<Button>` uses `<PseudoBox>` internally).

[2020-06-05 23:39] magnificode commented on #30
@ChrisBrownie55 I am so so sorry, I hadn't had a chance to assign this to the person who had the ticket in progress as they had not been invited to the GitHub org yet (jumped into meetings directly after I created it).

We have in progress work happening via this PR https://github.com/Rebuild-Black-Business/RBB-Website/pull/23 - is there any chance you can work with them to see what we can do abou

[2020-06-05 23:41] magnificode commented on #30
I'd love for you to collaborate with the folks working on that ticket! If leveraging `<Button>` over `<PseudoBox>` is more flexible then we definitely want to consider it. Andy has been super receptive to feedback!

[2020-06-05 23:46] ChrisBrownie55 commented on #30
Will do, thank you, sorry about the confusion.

[2020-06-06 00:08] magnificode commented on #30
@ChrisBrownie55 no need to apologize at all. On me for trying to juggle too many things at once :)

[2020-06-06 01:06] magnificode commented on #32
Ticket has been claimed in Trello.

[2020-06-06 01:27] #30 closed

[2020-06-06 01:44] #24 closed

[2020-06-06 07:51] juanri0s opened #39 "README Backend Dev Trello Link Broken"
Not sure if it's not set up yet or maybe the name changed, but the backend trello link in the README leads to a 'Board Not Found' error https://trello.com/b/034hEV4X/rebuild-black-business-backend-dev

[2020-06-06 07:59] andrewchough commented on #39
This link should work: https://trello.com/invite/b/034hEV4X/7c7810342e79aa410ebf8158c209ceeb/rebuild-black-business-backend-dev

Although I'm not sure if we want to change the README to this link too

[2020-06-06 19:27] magnificode opened #43 "Create a utility function to convert ZIP codes from database into City, ST format."
### Zip Codes

One of the primary goals of the RBB site is to ensure that we can quickly and effectively connect people with black owned businesses near them. In order to do this, we do our best to accurately generate location based data for users to filter by.

Currently in the DB we are collecting zip codes of businesses that have a storefront. Some businesses do not have a storefront and are th

[2020-06-06 19:29] magnificode commented on #43
![](https://github.trello.services/images/mini-trello-icon.png) [Create a utility function to convert ZIP code integers into City, ST strings.](https://trello.com/c/YZMUtWv2/40-create-a-utility-function-to-convert-zip-code-integers-into-city-st-strings)

[2020-06-06 19:49] brewswain commented on #43
Hey, I can get started on making this.

[2020-06-06 19:57] magnificode opened #44 "Create Footer"
### Footer

Figma: https://www.figma.com/file/Lo1ZcBOO9t4QRbX2I0PwBQ/RBB?node-id=429%3A57

__Desktop__
![footer](https://user-images.githubusercontent.com/1380536/83953216-a7ad3e00-a7fb-11ea-8112-7d3a90a8022c.png)

__Mobile__
![footermob](https://user-images.githubusercontent.com/1380536/83953431-a2e98980-a7fd-11ea-8de0-cbf111bb42f2.png)

The Footer component will be added to our `<Layout />` comp

[2020-06-06 20:00] magnificode commented on #44
![](https://github.trello.services/images/mini-trello-icon.png) [Create "Footer" component](https://trello.com/c/Onmqcg5h/41-create-footer-component)

[2020-06-06 20:05] mbifulco commented on #43
Hey @brewswain sorry I didn't see you were going to tackle this! Have at it - I just assigne it to you on trello as well.  If you need help, drop me a line on Discord 👍

[2020-06-06 20:05] molebox commented on #44
Id be happy to take this

[2020-06-06 20:06] brewswain commented on #43
Oh sweet, no problem! I think it was actually my fault since I didn't do it from trello first, so thanks!

[2020-06-06 20:28] magnificode opened #45 "Create ContentBlock component and variations"
### ContentBlock

Figma: https://www.figma.com/file/Lo1ZcBOO9t4QRbX2I0PwBQ/RBB?node-id=429%3A57

Leveraging Chakra UI components, we need to build out a ContentBlock component that can accept a few parameters in order to output the different variations on the home page.

**Customization Options**

The content block should be a single Higher Order Component that allows us to add any content within

[2020-06-06 20:31] magnificode commented on #45
![](https://github.trello.services/images/mini-trello-icon.png) [Create "ContentBlock" component](https://trello.com/c/GX6chK1w/42-create-contentblock-component)

[2020-06-06 20:38] #21 closed

[2020-06-06 21:32] aka-tpayne commented on #45
I’ll have some ramp up to do with Chakra but I’ll take a stab at this.

[2020-06-07 00:39] racedale opened #47 "Layout About Page"
Figma: https://www.figma.com/file/Lo1ZcBOO9t4QRbX2I0PwBQ/RBB?node-id=429%3A57

Leveraging Chakra UI components and already existing ContactCard components, we need to layout the home page to match up to UI designs. H2 headers should be used for "who we are", "mission", and "contact" headers

_Trello_:
https://trello.com/c/TeFxrCVb/43-about-page

Image Assets:
- Cloudinary ID for Fist image: assets

[2020-06-07 03:33] juanri0s commented on #47
I can pick this item up for tonight.

I'm somewhat newish to react so if I don't finish, I don't mind someone else continuing in the morning. Will make sure to leave any details before going to bed.

[2020-06-07 03:55] racedale opened #48 "Create Pagination Component"
## Pagination
Figma: https://www.figma.com/file/Lo1ZcBOO9t4QRbX2I0PwBQ/RBB?node-id=579%3A1516

Leveraging Chakra UI components, we need to build out a Pagination component that can support having optional ellipsis for large amounts of pages of results.

- Given a user is on the first page + 4 more (5 pages total), the first set of ellipsis will not be shown.
<img width="363" alt="Screen Shot 2020-

[2020-06-07 03:56] racedale commented on #48
Trello card: https://trello.com/c/zxR8G4LA/44-create-pagination-component

[2020-06-07 07:11] billy-le commented on #48
I would like to take this one.

[2020-06-07 08:00] asaki444 commented on #47
@juanri0s and I worked on the contact cards, making it responsive.

When adding width to the parent Flex on the about page, it causes the mobile site to left align all cards. To fix, I added `margin: 2% auto` to center the cards, and add spacing in between.

[2020-06-07 08:07] juanri0s commented on #47
Couple of notes:

- "Add your business to our list" - opens a modal, what fields are we expecting (we don't have mockups or flows for this yet)? Or are we just focused on the general layout and styling of the about page as part of the task.
- "General inquiry" - Do we still want this opening the default mail app? I know sometimes this isnt a good practice.
- The about background image isn't a card

[2020-06-07 14:04] racedale commented on #47
[Image](https://res.cloudinary.com/rebuild-black-business/image/upload/v1591504323/image_1_p51pbo.jpg)

- don't worry about adding the interactions yet, first step is just lay it out.

Exactly, if it isn't ready it'll have to be refactored later

[2020-06-07 14:11] racedale opened #50 "Create Link Styles"
## Link Styles
Figma: https://www.figma.com/file/Lo1ZcBOO9t4QRbX2I0PwBQ/RBB?node-id=585%3A351

Leveraging Chakra UI components, we need to setup link styles for default, hover, active, an visited states.

Note: The orange link should only be used for flagging businesses/allies

Mobile:
<img width="1075" alt="Screen Shot 2020-06-07 at 9 08 40 AM" src="https://user-images.githubusercontent.com/63906

[2020-06-07 14:20] #22 closed

[2020-06-07 16:34] racedale opened #51 "Contact Interactions on About Page"
## Contact Section

AC:
Given a user clicks:
- Business owners: then open a blank Chakra modal (content added in later story)
- General Inquiry:  mailto: (email to be provided later)
- Volunteers: Discord link (join.rebuildblackbusiness.com)

Desktop:
<img width="1077" alt="Screen Shot 2020-06-07 at 11 23 32 AM" src="https://user-images.githubusercontent.com/6390640/83974232-77c07200-a8b1-11ea-9c2

[2020-06-07 17:15] magnificode commented on #45
@aka-tpayne thank you very much! Don't hesitate to reach out in the Discord if you have issues. I'm sure someone would be happy to pair on this if you need it!

[2020-06-07 17:18] magnificode commented on #47
@juanri0s don't worry about using the ContentBlock component here. Just use basic ChakraUI components for the text.

Appreciate the thoroughness!

[2020-06-07 17:31] M0nica commented on #51
I want to work on this once https://github.com/Rebuild-Black-Business/RBB-Website/issues/47  is wrapped up by @asaki444

[2020-06-07 18:29] magnificode opened #52 "Create BusinessFilter Component"
### BusinessFilter

Since data structure has been finalized we can now work on getting the BusinessFilter functionality wired up. Here's the logic:

As a user, I should be able to optionally filter businesses by category. This field should incorporate the following:

**Field type:** dropdown select
**Field label:** Business
**Field placeholder option:** Select type
**Dropdown options:**
- Entertai

[2020-06-07 18:31] magnificode commented on #52
@ryancharris will be tackling this

[2020-06-07 21:54] billy-le commented on #51
Hi @M0nica I see that you assigned and then unassigned yourself from this task. Did you still want to take this on?

[2020-06-07 22:13] magnificode opened #57 "Ensure small screen Navigation is accessible"
In our PrimaryNav component: https://github.com/Rebuild-Black-Business/RBB-Website/blob/master/src/components/PrimaryNav.js

Primarily I believe we need to add a couple of `aria` roles to the navigation (nav is only toggled on smaller screens).

`aria-controls` should be added to the `<button>` within the `<Box>` component wrapping the Hamburger menu. This should point to the ID of the navigation.

[2020-06-07 22:33] #43 closed

[2020-06-07 22:51] magnificode commented on #32
Merged with #54

[2020-06-07 22:51] #32 closed

[2020-06-07 22:56] M0nica commented on #51
I’m still interested in working on this task and am awaiting #47 to be finished but I also don’t want to be a blocker if I’m not available to start as soon as #47 is done.

[2020-06-07 23:08] magnificode commented on #57
![](https://github.trello.services/images/mini-trello-icon.png) [[PrimaryNav] - Ensure proper small screen a11y](https://trello.com/c/YvFxrW56/53-primarynav-ensure-proper-small-screen-a11y)

[2020-06-07 23:17] billy-le commented on #51
@M0nica okay, that shouldn't be a problem. I won't jump on this. Thanks!

[2020-06-07 23:23] M0nica commented on #57
I'll start working on this!

[2020-06-07 23:23] racedale commented on #47
- Cloudinary ID for Fist image: `assets/people-protesting-on-street-4552840_gginry`
- Cloudinary ID for Contact image1: `assets/allison-christine-wV7UfVeI84w-unsplash_y3xvql`
- Cloudinary ID for Contact image2: `assets/RTJIXQNne68_ry3yib`
- Cloudinary ID for Contact image3: `assets/concours-discord-cartes-voeux-fortnite-france-6_1_xifoxc`

[2020-06-07 23:30] magnificode commented on #57
Thank you @M0nica !

[2020-06-07 23:45] magnificode opened #59 "Match PrimaryNav to updated designs"
### PrimaryNav

Figma: ~https://www.figma.com/file/Lo1ZcBOO9t4QRbX2I0PwBQ/RBB?node-id=427%3A1426~
https://www.figma.com/file/Lo1ZcBOO9t4QRbX2I0PwBQ/RBB?node-id=1156%3A6458

The alignment of the navigation items, and some small stylistic changes need to be reflected in the code. Changes include:

- Addition of a "Subscribe" button (using our current button components which were merged in #34 )
  -

[2020-06-07 23:48] M0nica commented on #59
@magnificode I have a few questions:
- where can the subscribe link be found?
- is the left aligned change only on desktop view before the menu toggles?

[2020-06-07 23:57] magnificode commented on #59
@M0nica - Ah my fault, let me update the issue to include what the functionality for that subscribe button actually is.

Just to answer the question in this comment too, the Subscribe button will trigger a modal that will include a Mailchimp embedded newsletter form. For this task, if you are able to add the Modal trigger using https://chakra-ui.com/modal - that would be excellent. You can place d

[2020-06-08 00:10] magnificode commented on #59
@M0nica Trello task for extra reference if you need as well! https://trello.com/c/VauipPfZ/54-update-navigation-alignment

[2020-06-08 00:11] magnificode commented on #59
![](https://github.trello.services/images/mini-trello-icon.png) [Update Navigation alignment](https://trello.com/c/VauipPfZ/54-update-navigation-alignment)

[2020-06-08 00:14] magnificode commented on #48
@racedale are we good to close this out since #49 is merged?

[2020-06-08 02:49] magnificode commented on #57
Handled by #58 - closing!

[2020-06-08 02:49] #57 closed

[2020-06-08 05:18] magnificode opened #63 "Create Pagination logic"
### Pagination

Leverage `gatsby-node.js` to create a pre-filtered page of data per each of the 50 states. This will create some nice SEO opportunities to have a URL per state of black owned businesses. It will also allow us to properly categorize data that does not have complete information, and ensure that they can still be included and searched for on the site.

[2020-06-08 05:20] jbolda commented on #63
Another option is the split it up by category, but I think that will be partly dependent on how the quantity of data of each is split up.

[2020-06-08 11:33] M0nica commented on #59
I’m working on this in this branch: https://github.com/Rebuild-Black-Business/RBB-Website/tree/feature/enhancePrimaryNavDesign

[2020-06-08 13:33] mbifulco commented on #63
@magnificode looks like this can be closed.  Great work @jbolda!

[2020-06-08 13:45] #63 closed

[2020-06-08 13:45] #48 closed

[2020-06-08 13:46] mbifulco commented on #52
This was closed by #55

[2020-06-08 13:46] #52 closed

[2020-06-08 14:53] #50 closed

[2020-06-08 21:17] #44 closed

[2020-06-08 23:41] M0nica commented on #59
Latest designs: https://www.figma.com/file/Lo1ZcBOO9t4QRbX2I0PwBQ/RBB?node-id=1156%3A6458

[2020-06-09 00:11] #45 closed

[2020-06-09 00:27] racedale opened #72 "Layout Home Page"
Figma: https://www.figma.com/file/Lo1ZcBOO9t4QRbX2I0PwBQ/RBB?node-id=0%3A1

Leveraging Chakra UI components and already existing ContentBlock and PrimaryButton components, we need to layout the home page to match up to UI designs.

_Trello_:
https://trello.com/c/UfKtiYcc/11-layout-homepage-content

Image Assets:
- Cloudinary ID for Fist image: `assets/home-header-bg`
- (Alternate) Cloudinary ID fo

[2020-06-09 04:30] #59 closed

[2020-06-09 04:49] magnificode opened #82 "Add Loading component when switching between pages"
### Loading

Because of the amount of data we are presenting to users, we want to be sure that between perceived page loads, any component that has to fetch data (<AllyFeed /> and <BusinessFeed /> for example) should present a `<Loading />` component.

A simple Chakra UI spinner will suffice for this task https://chakra-ui.com/spinner

[2020-06-09 06:10] magnificode commented on #72
![](https://github.trello.services/images/mini-trello-icon.png) [Layout homepage content](https://trello.com/c/UfKtiYcc/11-layout-homepage-content)

[2020-06-09 06:25] magnificode opened #84 "Add NoResults Component"
### NoResults

Figma Desktop: https://www.figma.com/file/Lo1ZcBOO9t4QRbX2I0PwBQ/RBB?node-id=1155%3A11025
Figma Mobile: https://www.figma.com/file/Lo1ZcBOO9t4QRbX2I0PwBQ/RBB?node-id=1155%3A11093

When a user filters for Businesses _or_ Allies, and their filter yields no results, they should be presented with a component that contains a Heading, Paragraph, and Airtable form embed via iframe src (use

[2020-06-09 06:37] magnificode opened #85 "Add gating functionality to the Allies page"
### Ally Page Gating

Figma Desktop: https://www.figma.com/file/Lo1ZcBOO9t4QRbX2I0PwBQ/RBB?node-id=1155%3A9992
Figma Mobile: https://www.figma.com/file/Lo1ZcBOO9t4QRbX2I0PwBQ/RBB?node-id=1155%3A10056

When a user visits the Allies page for the first time, they should be presented with a popup asking them to agree to our terms and conditions (link TBD). Upon checking the checkbox, the modal will be

[2020-06-09 12:31] molebox commented on #82
Be happy to take this 😊

[2020-06-09 12:43] racedale opened #86 "Upgrade graphql-playground-html"
Upgrade `graphql-playground-html` to version 1.6.22 or later.

Since this is a dependency of Gatsby this will be achieved by updating `gatsby`

Use `npm ls graphql-playground-html` to verify

[2020-06-09 12:47] racedale opened #87 "Add Sitemap for SEO"
Setup https://www.gatsbyjs.org/packages/gatsby-plugin-sitemap/ to generate a sitemap for SEO & to be able to have Cypress loop through the whole site to easily scan for a11y issues (in a future Issue)

[2020-06-09 12:48] domitriusclark commented on #82
We could also make use of the `Skeleton` component for individual component loading states.

Pretty sure we can change background/color/etc

Just a thought

[2020-06-09 13:40] racedale opened #88 "Fix Cypress errors"
As a developer
I want the tests to be passing to be able to ensure quality to our users

There's a few errors around navigation and a11y issues

Note:
`npm run test:e2e:ci` will execute Cypress tests

[2020-06-09 13:52] #72 closed

[2020-06-09 14:24] molebox commented on #87
Im on it.............!

[2020-06-09 15:25] #86 closed

[2020-06-09 16:09] juanri0s commented on #51
I added some comments for this in the Trello task. I'm not too sure that this task is needed or it just needs to be updated to include other work needed in the About page.

[2020-06-09 16:20] #47 closed

[2020-06-09 16:41] marcuslyons commented on #88
I can take this on.

Looks like 3 failing tests in Navigation:
![image](https://user-images.githubusercontent.com/10541922/84175733-9f444580-aa3d-11ea-81ca-5b727ef8ace1.png)

And 6 a11y violations detected:
![image](https://user-images.githubusercontent.com/10541922/84175798-b3884280-aa3d-11ea-9d98-f579a7748299.png)

[2020-06-09 16:48] magnificode commented on #84
![](https://github.trello.services/images/mini-trello-icon.png) [[Business] - Add no results found component](https://trello.com/c/IeUTgtpx/62-business-add-no-results-found-component)

[2020-06-09 16:49] magnificode commented on #85
![](https://github.trello.services/images/mini-trello-icon.png) [[Allies] - Add gating functionality](https://trello.com/c/DJGlxKd4/55-allies-add-gating-functionality)

[2020-06-09 16:50] magnificode commented on #82
![](https://github.trello.services/images/mini-trello-icon.png) [Add loading component when switching between pages](https://trello.com/c/2w1nMD89/61-add-loading-component-when-switching-between-pages)

[2020-06-09 16:50] magnificode commented on #84
![](https://github.trello.services/images/mini-trello-icon.png) [[AllyFeed] - Add no results found component](https://trello.com/c/oBJTGh7Q/57-allyfeed-add-no-results-found-component)

[2020-06-09 17:04] #51 closed

[2020-06-09 17:52] juanri0s opened #99 "Update Contact us email through the site"
AS a user
When I click contact us
I see my email open social@rebuildblackbusiness.com

AC:
- Window opens to email social@rebuildblackbusiness.com
- no longer will be test@test.com

https://trello.com/c/OlCpRADT

[2020-06-09 18:03] #84 closed

[2020-06-09 18:21] brewswain commented on #39
Couldn't help but notice that this issue is still up. May I suggest that if we don't want the backend link exposed in the README then we simply say to request access to the trello board in the Discord's backend channel?

[2020-06-09 18:26] molebox commented on #82
On it if available

[2020-06-09 18:43] kieranklaassen commented on #85
I can take this one. Let me know

[2020-06-09 19:09] #99 closed

[2020-06-09 19:49] juanri0s opened #105 "Add Social and Contact Links to Site using Config values"
AS a User
When I see the social links
I want to be able to click them and go to the correct place

AC:
https://www.facebook.com/RebuildingBlack
https://www.instagram.com/rebuildingblack/
https://twitter.com/rebuildingblack
Mailto: social@rebuildblackbusiness.com
Paypal: waiting on, will get by by 6/10

Area: https://d.pr/i/7tbKI6

https://trello.com/c/x7yKO3ce

[2020-06-09 19:49] juanri0s commented on #105
Will be working on it

[2020-06-09 19:56] #87 closed

[2020-06-09 21:30] #105 closed

[2020-06-09 21:38] #88 closed

[2020-06-09 21:54] #82 closed

[2020-06-09 22:14] molebox opened #112 "Add terms and conditions text"
Add a link to the terms page

[2020-06-09 22:15] M0nica commented on #112
is this available?

[2020-06-09 22:21] magnificode commented on #112
![](https://github.trello.services/images/mini-trello-icon.png) [Add terms and conditions text](https://trello.com/c/eIVPzYQw/95-add-terms-and-conditions-text)

[2020-06-09 22:38] #85 closed

[2020-06-09 22:46] domitriusclark opened #113 "Image optimizations"
We're seeing long initial load times from our images. Going to work on adding some more optimizations from Cloudinary and tweaking until we see less stutter.

[2020-06-10 11:36] M0nica opened #126 "Photography Credits are Listed even if there is no credits on the page"
This happens on the legal page where we don't have pictures

[2020-06-10 14:08] kieranklaassen opened #129 "Allies page breaks items on refresh"
https://trello.com/c/u00Xau1t/120-allies-page-breaks-items-on-refresh

Caused by the SSR part of gatsby, any Link works fine

[2020-06-10 15:17] racedale opened #131 "Setup Cypress to auto scan all pages for a11y issues"
A dev I want to know if any of the pages have a11y issues, not just the home page

Note:
Either use sitemap like in [this article](https://timdeschryver.dev/blog/setting-up-cypress-with-axe-for-accessibility) or `gatsby-cypress-endpoints`

[2020-06-10 16:10] #129 closed, assigned to nobody

[2020-06-10 16:26] #131 closed, assigned to racedale

[2020-06-10 20:56] aka-tpayne opened #152 "Gradient on home page images is too harsh"
Gradients don't match what is in Figma and they're far too harsh.

[2020-06-10 21:26] #152 closed, assigned to nobody

[2020-06-11 07:52] magnificode commented on #112
#180 solves this issue!

[2020-06-11 07:52] #112 closed

[2020-06-11 07:53] magnificode commented on #113
#114 solves this issue for now, we'll continue to monitor and establish a path forward to continue to optimize!

[2020-06-11 07:53] #113 closed

[2020-06-11 10:50] llexical opened #194 "Business Names not showing up on result cards"

[2020-06-11 11:22] M0nica opened #196 "Add Link to RenderATL on About page"
On the about page, where it mentions Render-Atlanta it should link to the website: https://www.renderatl.com/

The text for the about page can be updated at: https://github.com/Rebuild-Black-Business/RBB-Website/blob/master/src/constants/about.js

[2020-06-11 13:38] wcouturiaux opened #199 "No Display after search"
On the business page, if a `business type` is selected, a `location` entered, and `In Urgent Need` selected, when search executes nothing displays below in the `iframe class=airtable-embeded`

[2020-06-11 14:11] #194 closed

[2020-06-11 14:20] wcouturiaux commented on #199
Displays form to add new business if no `business type` selected

[2020-06-11 14:56] racedale commented on #199
I get the form doing that
<img width="1245" alt="Screen Shot 2020-06-11 at 9 55 48 AM" src="https://user-images.githubusercontent.com/6390640/84402228-cdef2700-abc9-11ea-92d6-332427414845.png">

[2020-06-11 17:07] wcouturiaux commented on #199
Displayed properly after clearing my cache.

[2020-06-11 17:14] #196 closed

[2020-06-11 17:28] molebox opened #209 "Business type + location query = no results"

[2020-06-11 17:34] juanri0s commented on #39
link words now, closing

[2020-06-11 17:34] #39 closed

[2020-06-11 17:38] racedale opened #210 "Write test around Algolia page numbers being 0 indexed"
For reference:
https://github.com/Rebuild-Black-Business/RBB-Website/pull/207

[2020-06-11 17:38] devmrin opened #211 "Hide pagination when no business are matched in search"
On the `/businesses` page upon search if no businesses are matched - the pagination should be hidden.

Screenshot for reference:
![image](https://user-images.githubusercontent.com/26342387/84420961-79cf5b80-ac38-11ea-893a-ce06df6c5936.png)

[2020-06-11 17:39] #199 closed

[2020-06-11 17:47] beattheprose opened #212 "Logo very pixelated on 4k desktop screen"
The heading site logo looks quite pixelated on my 4k display. The issue seems to persist across all pages. Please see below for example:

![image](https://user-images.githubusercontent.com/45179933/84421546-54fbc980-abe1-11ea-9a4e-536580bc78a5.png)

The issue also shows up at mobile size:

![image](https://user-images.githubusercontent.com/45179933/84421730-9be9bf00-abe1-11ea-8627-0ca598f42ae9.png

[2020-06-11 17:49] beattheprose commented on #212
Tested on Brave, Chrome, and Firefox

[2020-06-11 19:41] racedale opened #215 "Write test ensuring leading 0's for zip code are not removed"
Related to search on Business and Ally pages.

Example:
- `02215` should stay `02215` and not become `2215` when sent to search

[2020-06-11 20:02] juanri0s commented on #211
![](https://github.trello.services/images/mini-trello-icon.png) [On Business Page we need to hide pagination when no business are matched in search.](https://trello.com/c/WDpG3UVE/202-on-business-page-we-need-to-hide-pagination-when-no-business-are-matched-in-search)

[2020-06-11 20:07] M0nica opened #216 "Add Code of Conduct"
Can a formal Code of Conduct be added to this project? https://help.github.com/en/github/building-a-strong-community/adding-a-code-of-conduct-to-your-project

Also, potentially community guidelines as well: https://help.github.com/en/github/building-a-strong-community/setting-guidelines-for-repository-contributors

[2020-06-11 20:13] racedale commented on #216
We had this default one in the original volunteer docs repo.  Should be able to adjust it for this easily

https://github.com/Rebuild-Black-Business/RBB-Volunteer-Docs/blob/master/Code_Of_Conduct.md

[2020-06-11 20:13] juanri0s commented on #212
![](https://github.trello.services/images/mini-trello-icon.png) [Blurry Logo in Nav](https://trello.com/c/vzuJfTqd/107-blurry-logo-in-nav)

[2020-06-11 20:26] #212 closed

[2020-06-11 21:07] mbifulco commented on #216
Suggestion: make a `Rebuild-Black-Business/.github` repo, and move these files there, to take advantage of [GitHub's default community health settings](https://help.github.com/en/github/building-a-strong-community/creating-a-default-community-health-file)

[2020-06-11 21:25] M0nica commented on #216
@mbifulco I think using the community health settings would be helpful to better surface the code of conduct and have it added to new repos by default.

@racedale glad to know there's already one on GitHub within in the organization!

[2020-06-11 21:30] M0nica commented on #216
although, it looks like it'll have to be setup per repo a bit but it's probably good to have it as a default as well
`If a repository has any files in its own .github/ISSUE_TEMPLATE folder, including issue templates or a config.yml file, none of the contents of the default .github/ISSUE_TEMPLATE folder will be used.`

[2020-06-11 23:24] racedale opened #223 "Review & Update ReadMe"
go over the readme and update it since so much has changed over the past few days leading up to launch.

- Remove Discord Invite Link
- Maybe remove links to Trello
- Update terminology

[2020-06-12 01:05] racedale opened #228 "Use Link component only for internal links"

[2020-06-12 01:06] racedale opened #229 "Use Link component only for internal links"
Resolve this warning from Chakra UI:
`External link https://www.instagram.com/clay.banks was detected in a Link component. Use the Link component only for internal links.`

[2020-06-12 01:17] racedale commented on #228
#229

[2020-06-12 01:17] #228 closed

[2020-06-12 01:18] racedale opened #230 "Fix uncontained <li> in Footer for a11y"
Resolve issue from Lighthouse scan:
List items (<li>) are not contained within <ul> or <ol> parent elements.

[2020-06-12 01:21] M0nica opened #231 "Add Keys to Pagination"
- If you go to /businesses the following warning is displayed `Warning: Each child in a list should have a unique "key" prop. Check the render method of `Pagination`. See https://fb.me/react-warning-keys for more information.`

[2020-06-12 01:37] M0nica commented on #229
This is interesting because Chakra has examples where the Link is an external link 🤔  https://chakra-ui.com/link#external-link

[2020-06-12 01:53] M0nica commented on #229
Oh I see the Chakra was wrapping Gatsby Link which explains why external links weren't supported

[2020-06-12 02:02] #229 closed

[2020-06-12 02:18] racedale opened #234 "Update orange in theme for a11y"
Lighthouse was failing for **Background and foreground colors do not have a sufficient contrast ratio.**

AC:
Update `rbb-orange` to `#F05F37`

[2020-06-12 03:02] #234 closed

[2020-06-12 04:39] #231 closed

[2020-06-12 04:55] #230 closed

[2020-06-12 07:08] Mhmdabed11 opened #247 "Show "no results" card in businesses only when api returns empty array and not on initial page load."
In the `/businesses` page, the no results card is shown on page load for a small amount of time then the results cards are displayed. On the initial load, maybe a skeleton loader should exist while making the api call to get the search results.

[2020-06-16 06:19] #209 closed

[2020-06-17 02:01] #211 closed

[2020-06-17 18:39] joshsimmons opened #256 "Add license to repo"
Hi there, I lead the Open Source Initiative as well as open source at Salesforce and I'd love to be able to contribute to your project. However, in getting acquainted with the project I noticed that the various repositories lack a clear license.

Would you mind adding a LICENSE file to your repos?

I have no opinions on _what_ license should be used (of course prefer an open source license), but a

[2020-06-19 22:43] #256 closed

[2020-06-19 23:15] magnificode commented on #216
Hey @M0nica - I created a Community Health repo here that includes the Code of Conduct, and Contributing guidelines here: https://github.com/Rebuild-Black-Business/.github

Would love your input on that initial pass, and very much appreciate you making sure we've got the Code of Conduct properly documented here!

I've opened up #260 to make sure that the Code of Conduct markdown file is added in t

[2020-06-20 00:37] #216 closed

[2020-06-20 00:50] M0nica commented on #247
It looks to me like this was resolved? On initial load of /businesses I no longer see the no results card before results load.

[2020-06-20 01:07] M0nica commented on #223
I took a first-pass at updating the README to remove links that should no longer be included and direct people to sign up at http://join.rebuildblackbusiness.com/. https://github.com/Rebuild-Black-Business/RBB-Website/pull/261

[2020-06-21 18:24] magnificode commented on #223
This was merged with #261 - Thank you @M0nica!

@racedale - if there are more specific terminology changes that you want to add let's open a new issue and document those changes specifically. Going to close this out for now!

[2020-06-21 18:24] #223 closed

[2020-06-22 22:27] psalaets opened #264 "Some "Learn More" links are broken"
# Steps

1. Load https://www.rebuildblackbusiness.com/businesses in any browser (I tried FF, Safari and Chrome on macOS)
2. Scroll down to the card for "Wild Haven Botanica LLC"
3. Click the "Learn More" button

## Expected

User ends up at https://www.wildhavenbotanica.com

## Actual

User ends up at https://www.rebuildblackbusiness.com/www.wildhavenbotanica.com

# More details

Seems like some o

[2020-06-22 22:44] psalaets commented on #264
Ran this on all 5 pages of the business list

[code]

And found 5 urls that need attention

- www.kentuckygreensco.com
- www.blacksoilky.com
- www.thoselovelylocks.com
- www.wildhavenbotanica.com
- www.framedglenwood.com

Also, the url for www.framedglenwood.com has a single trailing space in your data

[2020-06-23 00:14] elchris commented on #264
@psalaets i just fixed these 5 in AirTable, and I also created a new view on AirTable called "Broken Website Field" which shows all records whose Website field is:

- not null
- does not contain http://
- does not contain https://

and there are over 240 of them so i'm just going thru the list. As I clean things up, updated data should show-up on the site within 2 hours

[2020-06-23 02:33] psalaets commented on #264
Looks good to me, thanks

[2020-06-23 02:33] #264 closed

[2020-06-23 17:30] magnificode commented on #247
@M0nica This has indeed been resolved in our switch to our custom API in #263. Appreciate you bringing this to our attention @Mhmdabed11!

[2020-06-23 17:30] #247 closed

[2020-06-23 17:32] magnificode commented on #210
@racedale since we're no longer leveraging Algolia do we want to close this out? I believe the zero based indexing on pagination should no longer be an issue!

[2020-06-23 17:55] magnificode opened #266 "Ensure efficiency in Google Places API calls"
## The Context

As it stands, we are using the Google Places API to take in a location string (e.g "Atlanta, GA", "ATL", "Georgia" etc.) and convert it to latitude and longitude coordinates in order to return businesses that match the queried location.

https://github.com/Rebuild-Black-Business/RBB-Website/blob/main/src/api/geocode.js#L3

Our `handleLocationToCoords` function here ingests the quer

[2020-06-23 18:10] magnificode opened #267 "Establish desired data to collect for new businesses"
## The Context

We are using an embedded Airtable form to collect information when a new business is registered on the site. Currently we are asking businesses to provide the following information (* denotes a required field):

- Your First Name *
- Your Last Name *
- Your Email *
- Business Name *
- Category *
- Business Description *
- Business Website
- Business has a physical location
  - If t

[2020-06-23 19:35] magnificode opened #268 "Add individual pages for each business listing"
## Prerequisites
- [x] #267 :: The data structure needs to be solidified before we create these pages
- [x] Design for the profile page
- [x] [Backend endpoint to get a single building](https://trello.com/c/ZPKR6jit/37-add-endpoint-for-getting-a-business-by-id)

## Designs
https://www.figma.com/file/Lo1ZcBOO9t4QRbX2I0PwBQ/RBB?node-id=2135%3A1
https://www.figma.com/file/Lo1ZcBOO9t4QRbX2I0PwBQ/RBB?n

[2020-06-23 22:57] racedale commented on #210
Yeah I think so

[2020-06-23 22:57] #210 closed

[2020-06-23 23:16] M0nica opened #269 "Setup All Contributors Integration"
- We want a way to visibly recognize contributors. All Contributors has tools to help enable this https://allcontributors.org/.
- The integration should be setup to be maintainable moving forward and also retroactively include contributors that helped with the initial launch 🚀

[2020-06-23 23:37] racedale opened #271 "Get Sentry Discord webhooks working"
Currently we are using a Legacy Slack integration in Sentry to try to hook into Discord because there were old posts about Slack and Discord sharing the same format, but doesn't seem to be working. Only works at sending test messages 👎
Since Sentry doesn't support Discord itself might need to create a manual Webhook support.

<img width="414" alt="Screen Shot 2020-06-23 at 6 35 15 PM" src="https:/

[2020-06-24 03:44] #269 closed

[2020-06-25 22:19] ashtine opened #275 "Testing Templets"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-26 18:35] magnificode opened #277 "[Feature] Add social sharing for businesses"
## Prerequisites
- [ ] A design for what the social sharing component should look like (presumably this design will be reusable between the `ResultCard` component, and the business profile template).

## User Story
As a user
I want to be able to easily share business listings I find on RBB
So I can help businesses I like get more exposure

## Acceptance Criteria
- [ ] A user can share businesses b

[2020-06-26 19:51] ashtine opened #278 "[Feature] "online only" option for businesses for users"
## Prerequisites
- [x] #267
- [ ] Filter design and architecture needs to be established before this can be worked on

## User Story

As a user
I want to see only online businesses
So I can contribute to those businesses specifically

## Acceptance Criteria
- [ ] There is an online only option in the filter
- [ ] When I use the filter I see only online businesses
- [ ] The rest of the page works a

[2020-06-26 20:05] ashtine opened #279 "[Feature] "online only" option for business owners"
## Prerequisites
- [x] #267 - Data structure needs to be established before we can start this

## User Story
As a business owner
I want to show my business is online only
So I can show users and potential folx my niche

## Acceptance Criteria
- [x] When I submit the form for my business I should see an option to be shown as online only
- [x] When my businesses gets listed it displays correctly wit

[2020-06-26 20:13] ashtine opened #280 "[Feature] Add UTM to urls for Businesses"
## User Story
As a business owner on RBB
I want to I want to see where traffic is coming from
So I can know how we're getting exposure

## Acceptance Criteria
- [ ] All external links to businesses include `utm_source=Rebuild+Black+Business` as query string
- [ ] Any link that already includes a query string properly has the UTM code appended.

## Is your feature request related to a problem? Plea

[2020-06-26 20:22] ashtine opened #281 "[BUG] Get rid of the flash that happens when loading the website"
**Describe the bug**
The flash that happens when loading the website

**To Reproduce**
Steps to reproduce the behavior:
1. Go to rebuildbackbusiness.com
2. Observe

**Expected behavior**
No flash and looks clean

**Actual Behavior**
A flash and kinda clunky

**Screenshots**
![Screen Capture on 2020-06-26 at 16-20-49](https://user-images.githubusercontent.com/25046304/85897853-2e38b800-b7c9-11ea-87

[2020-06-26 20:25] ashtine opened #282 "[Feature] Replace Mailto: links"
## User Story
As a user
I want to see an actual form when contacting someone
So I can feel it is more secure

## Acceptance Criteria
- [ ] No mailto: links on site
- [ ] Any inline mailto: link is replaced with a modal containing a custom "contact" web form
- [ ] The web form contains `Name`, `Email Address`, and `Message` fields.
- [ ] Forms work as expected when used

## Is your feature request

[2020-06-26 20:32] ashtine opened #283 "[Feature] Add a Suggestions Box"
## Prerequisites
- [ ] Need to know what form fields to build

## User Story
As a user
I want to see a suggestion box
So I can provide some feedback

## Acceptance Criteria
- [ ] A web form exists that submits a formatted email to the engineering@ email address

## Is your feature request related to a problem? Please describe.
This is a place so users can provide insight to where we need to pivot

[2020-06-26 20:55] magnificode opened #284 "[Feature] Leverage the Geolocation API"
## User Story
As a user
I want to allow RBB to use my IP location
So I can view businesses near me

## Acceptance Criteria
- [ ] Leverage the Geolocation API in order to prompt user allowing RBB to get their location
- [ ] Use geolocation data to set the default search results based on that data
- [ ] Geolocation data and preference is cached for faster usage in subsequent visits

## Describe the

[2020-06-27 01:00] magnificode opened #285 "[Feature] Add verbiage to explain business review process"
## Prerequisites
- [x] Content from Business around this process

## User Story
As a business owner
I want to know what the process is to get my business added to the site
So I can anticipate how long to wait before I see it on the site

## Acceptance Criteria
- [ ] When submitting a business there should be a link to an informational page that describes the RBB Business submission process.
- [ ]

[2020-06-27 12:48] ashtine opened #286 "[Feature] Update Site Imagery"
## User Story
As a user
I want to see uplifting imagery
So I can feel good about what I'm seeing

## Acceptance Criteria
- [ ] New imagery on site is more "jubilant"
- [ ] New imagery is appearing a expected

## Is your feature request related to a problem? Please describe.
Some of the images have been percieved as dark, and the team is trying to make it more jubilant.

## Describe the solution yo

[2020-06-27 12:53] ashtine opened #287 "[Feature] Update any API usernames to eng@"
## User Story
As a user
I want to call an API for eng
So I can be targeted in my audience

## Acceptance Criteria
- [ ] not sure what to put here

## Is your feature request related to a problem? Please describe.

## Describe the solution you'd like
Update any API usernames to eng@

[2020-06-27 12:59] ashtine opened #288 "[Feature] Remove Allies Info from Allies page"
## User Story
As an ally
I want to have my information protected
So I can have peace of mind

## Acceptance Criteria
- [ ] The  ally cards are no longer present
- [ ] The information is still stored an able to be used for those seeking allies

## Is your feature request related to a problem? Please describe.
This came up due to the possibility of these names getting scarped with their info and use

[2020-06-27 17:21] magnificode opened #289 "[Feature] Create "Fundraisers" page"
## Prerequisites
- [x] Design

Figma Designs: https://www.figma.com/file/Lo1ZcBOO9t4QRbX2I0PwBQ/RBB?node-id=2008%3A105

## User Story
As a user
I want to view a page that only shows fundraisers
so I can quickly view ways to support black owned business

## Acceptance Criteria
- [ ] A new top level Fundraisers page should be added to the top level navigation
- [ ] Businesses that have a "Donate" en

[2020-06-27 17:35] magnificode opened #290 "[Feature] Get Lat/Long from Physical Address"
## User Story
As a developer on the project
I want to return latitude and longitude coordinates from a physical address
So I can provide data to the RBB API in the correct format

## Acceptance Criteria
- [ ] A utility function that we can use in various features on the site, returns accurate latitude and longitude coordinates from a physical address

## Is your feature request related to a proble

[2020-06-27 17:38] magnificode opened #291 "[Spike] Figure out image storage for Business images / logos"
## Spike

Need to explore Cloudinary / Airtable storage limits and how we pass images to cloudinary before storing them in Airtable.

[2020-06-27 17:42] mbifulco commented on #266
Might be worth having a discussion with mapbox to see if they have a discounted/free plan for OSS Community projects - https://www.mapbox.com/community/

[2020-06-27 19:33] magnificode commented on #287
@llexical wanted to bounce this one off you, are there places in the app (frontend or backend) where we're not using the `engineering@` email address for? Either in the code or in our registration with those APIs

[2020-06-27 19:37] magnificode commented on #288
We have established that our conversion of Allies to Resources is likely not going to make it into V1. Our focus will remain on Business architecture for now.

[2020-06-27 19:38] #288 closed

[2020-06-27 21:29] magnificode commented on #290
@llexical I've left this issue extremely generic. We will leverage this task to write a utility function that returns lat/long from an address. Further discussions and tasks will need to be created for us to handle this when a user submits a business into Airtable. My assumption is that we will want to eventually go down the road of hooking into the Airtable API in order to create custom forms on

[2020-06-27 21:31] magnificode commented on #291
@llexical similar to #290, this task may require a custom API hook into Airtable to allow us to build custom forms in favor of the Airtable iframe embeds. We could very easily use Cloudinary API hooks (with the help of @domitriusclark) to ingest an uploaded image, and return the Cloudinary Asset ID for storage in Airtable.

[2020-06-27 21:43] magnificode commented on #282
@ThugDebugger @shapirone - We need to document places on the site where these mailto links exist. Currently I believe most of the mailto: links are leveraged on the Allies page. Beyond that, I believe that most of the mailto: links are leveraged in content, referencing either business@ or eingineering@ email address. Will the above generic form be enough for these cases?

[2020-06-28 14:02] ifyoumakeit commented on #281
I can take a crack at this, it looks like we can get a lot of mileage out of preloading the fonts and the hero image using meta tags in the <head />. Resizing the hero image using `srcSet` to fit will also speed up the site and remove the flash of it loading.

Can use some dynamic URLS from cloudinary for srcSet https://cloudinary.com/documentation/responsive_images

[2020-06-28 14:21] ifyoumakeit commented on #281
Actually looking into it more, it looks like the hero image doesn't load without JavaScript.

[2020-06-28 14:25] llexical commented on #284
Looking good to me, I don't think I have much more to add. Just needs designs and I recon this can get started asap :)

[2020-06-28 14:28] llexical commented on #287
@magnificode @ashtine I am honestly not sure what we want from this? Not even sure what "Update any API usernames to eng@" means.

(Also if we do user stories for non user specific stuff can we do "As a developer:" or "As a member of the business team" or whatever because its super confusing to read as though you are a user of the site :'))

[2020-06-28 14:30] ashtine commented on #287
@llexical totally, I was taking a stab at it. This is a more technical implementation so whatever makes sense :)

[2020-06-28 14:31] #275 closed

[2020-06-28 14:33] llexical commented on #290
@magnificode I have been thinking about this. I was wondering if it would be better while we are still dependant on Airtable forms to just collect the address and run a lambda that does the query backend side to update the entry with lat/lng from address which is how we do it for zip codes at the moment.

It wouldn't be too hard and means FE wise all we would need to do is add the extra address fi

[2020-06-28 15:09] llexical commented on #291
Yeh I think we will have to use the Airtable API to hook in for this to work, we can make a lot of other stuff work, however image uploads we are not going to be able to do in anyway easily without hooking into the API ourselves so we can do the upload and then pass the identifier into Airtable.

[2020-06-28 15:15] llexical commented on #278
We will need backend work here to make sure that any Airtable field we add to store if a business is online or not is passed through to our search API and that it can be searched by.

[2020-06-28 15:18] llexical commented on #267
Added the backend required flag largely to make it easier for me to keep an eye on @elchris and @brentmclark probs interested in this as well :)

[2020-06-28 19:48] JTSchwartz commented on #280
I'd be happy to work on this feature

[2020-06-29 16:04] magnificode commented on #281
@ifyoumakeit it might be useful to work with @domitriusclark on this one! Preloading fonts and other assets as best we can is a great idea as well. Feel free to move on what you can, and work with Dom on the image stuff in particular! I'll assign this task to you and him for now!

[2020-06-29 16:10] jakeleboeuf commented on #215
Happy to jump into this little task!

[2020-06-29 16:42] Mhmdabed11 opened #293 "[BUG] Change loading state on page number change in /businesses"
In /businesses page, we need to change the loading state to ‘loading’  when we change the page number.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /businesses page
2. Click on page number 2 at the bottom of the screen in pagination
3. Skeleton loaders do not show up

**Expected behavior**
When the page number changes, skeleton loaders should show until the data of the target page i

[2020-06-29 22:20] SeHarlan opened #295 "[Feature] Custom tables for ally and business sign up"
## User Story
Removing Airtable iframe embeds

## Describe the solution you'd like
Creating custom table that link to the Airtable API so the forms fit visually with the rest of the website

[2020-06-29 22:21] SeHarlan commented on #295
I will start on this, Probably will get it done by end of day on Tuesday ( June 30th )

[2020-06-29 23:47] ifyoumakeit commented on #281
Sounds good!

[2020-06-30 07:18] Mhmdabed11 commented on #293
I will fix this by today.

[2020-06-30 19:34] #293 closed

[2020-07-03 07:42] elchris commented on #284
if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {/* do something */})
}

[2020-07-03 08:06] elchris commented on #267
To aid in validation:
        /*
         * https://maps.googleapis.com/maps/api/place/findplacefromtext/json
         * ?key=
         * &inputtype=textquery
         * &fields=business_status,formatted_address,geometry,icon,name,photos,place_id,plus_code,types
         * &input=BUSINESS+NAME+in+ZIPCODE
         */

Documentation:

- Costs: https://developers.google.com/places/web-service/usage-a

[2020-07-03 14:47] #280 closed

[2020-07-03 19:19] magnificode commented on #291
@llexical once #297 is merged in, we should have full access to the Airtable API and the ability to customize the form fields however we see fit.

What I'm thinking here, is that we can create an upload input field, that `onChange` will call out to the Cloudinary API (with the help of @domitriusclark ), upload that image to Cloudinary, and then return the Cloudinary asset ID as a value, either in

[2020-07-03 19:21] magnificode commented on #290
@llexical does the completion of #297 change your thoughts here at all? Since we will be very soon leveraging the Airtable API to handle custom forms, we can pretty easily trigger a utility function `onBlur` of the address field, to return a lat/lng to store in the database.

[2020-07-03 19:23] magnificode commented on #287
@llexical Yeah I think this is something that just was mentioned in a meeting at some point? I think that we can just use this ticket as a reminder to make sure that we remove any of our personal emails from features. I don't think there's too much of an actionable item here.

[2020-07-03 19:33] magnificode commented on #267
@llexical @elchris @brentmclark - Check out the figma designs here: https://www.figma.com/file/Lo1ZcBOO9t4QRbX2I0PwBQ/RBB?node-id=1938%3A8027

These are _fairly_ close to final, but still need to be run by the Business team and Justin for their approval. This should give us at least a good idea of what the design / UX team are looking to implement for business submissions.

Once we get the approva

[2020-07-07 16:22] magnificode commented on #295
Closed by #297

[2020-07-07 16:22] #295 closed

[2020-07-07 16:23] magnificode commented on #281
@ifyoumakeit - @domitriusclark merged a few updates to the Cloudinary Image component today #299 . Not sure if that helps this issue, but figured I'd keep you updated :).

Anything we can do to help with this issue let us know!

[2020-07-11 00:00] JapneetSingh5 commented on #281
Hi, I would love to contribute to your site. Can i comtribute to this issue or anywhere else you may need?

[2020-07-11 00:15] ifyoumakeit commented on #281
Thanks for the update, I’ll see if this helps here.

[2020-07-12 15:58] ElishebaW commented on #282
@ashtine Are you thinking to have this form pop up for each ally? Where the email button currently is?
<img width="259" alt="Screen Shot 2020-07-12 at 11 58 27 AM" src="https://user-images.githubusercontent.com/20779752/87251067-04bd9480-c437-11ea-9012-411ef25dda7e.png">

[2020-07-12 17:11] shapirone commented on #282
Sorry I didn't get to this @magnificode  but yes @ElishebaW , this form should pop for the Email buttons on the Allies page, the General Inquiry card on the About page, the Email icon in the footer, and any links in the 404 page.

Those are all the spots I know of but we should no longer have any links using mailto on the site, so please double check with a quick project search for `mailto:` for a

[2020-07-13 22:36] #271 closed

[2020-07-16 22:10] #215 closed

[2020-07-16 22:36] racedale opened #304 "[BUG] Menu unusable on Safari"
**Describe the bug**
On mobile Safari some of the home page elements are rendering above the menu

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'home page
2. Click on menu
3. See error

**Expected behavior**
Menu should load the same as Chrome and Firefox

**Screenshots**
![image0](https://user-images.githubusercontent.com/6390640/87729105-1a72e700-c7b4-11ea-884a-757feb4b5657.png)

[2020-07-17 17:14] magnificode commented on #267
@llexical @elchris I have updated the production Airtable to reflect the design changes that Neil finished up.

I'm going to go ahead and close this issue out, seeing as we have established the data structure and can move on to actually implementing this on the FE.

[2020-07-17 17:15] #267 closed

[2020-07-17 17:22] magnificode opened #305 "[Feature] Restyle form fields to match new designs"
## User Story
As a user
I want to see well designed form fields with solid UX
So I can easily provide the proper information for my business

## Acceptance Criteria
- [ ] various input field types should match the designs provided below
- [ ] field types that do not have specific `type` attributes associated with them should leverage class names to target and style the input field.

![Screen Shot

[2020-07-17 17:22] magnificode commented on #305
I'll be tackling this today!

[2020-07-17 17:41] magnificode opened #306 "[Feature] Capture newly created business data"
## User Story
As a developer
I want to store data based on newly defined data structure
So I can leverage that data on the frontend to accommodate new designs

## Acceptance Criteria
The following data points need to be captured and properly stored in Airtable:

- [x] email
- [x] business name
- [x] business category
- [x] business blurb
- [x] phone number
- [x] location type
  - [x] boolean for p

[2020-07-17 17:42] magnificode commented on #306
I will take care of this today!

[2020-07-18 01:01] JTSchwartz commented on #304
Looks like this isn't just limited to Safari, but I think I've identified the cause of it. I'd be happy to take care of this, just need to make sure my fix doesn't break something else

[2020-07-19 21:30] mbifulco opened #310 "[Feature] Add a test for SetURLUtm utility function"
## User Story
`n/a, really - this is more of a tech debt task`

This issue is to track the work around having a test written for setUrlUtm in `/src/utils/urlUtils.js`.  We had a production failure today due to some incomplete fallback cases written for that function

## Acceptance Criteria
- [ ] Test coverage should reach `setUrlUtm`
- [ ] Tests should pass
- [ ] `setUrlUtm` should be linted - I'm

[2020-07-20 14:08] #304 closed

[2020-07-23 08:46] elchris opened #311 "[Feature] Add an apiKey Parameter to all Back-End API Requests"
## User Story

This is in preparation for some future enhancements to the API allowing multiple entities to interact with it.

- please add an &apiKey= parameter to all http requests to the [API](https://github.com/Rebuild-Black-Business/rbb-api). If you wish to use an **x-api-key** header instead of a url parameter, that will work too.
- obtain the value of the key from our 1Password > Engineerin

[2020-07-23 18:32] racedale commented on #311
@elchris Is there a reason to send the API key as a Query Param rather than an [x-api-key header](https://stoplight.io/blog/api-keys-best-practices-to-authenticate-apis/#x-api-key-and-other-http-headers)?

[2020-07-23 19:00] elchris commented on #311
not particularly, i'm cool with x-api-key header. Some folks like to test and troubleshoot "GET" endpoints by "simply pasting a URL in a browser", but I do like the header approach because it's more elegant to implement client side.

So yes feel free to just use an x-api-key header and my implementation will know to look for that.

[2020-07-26 14:49] mbifulco commented on #311
Gonna spend some time on this today

[2020-07-26 19:44] magnificode opened #312 "[Feature] Adjust Typography scale to match new designs"
## User Story
As a user
I want to see nicely scaled typography
So I can read content on the site with ease

## Acceptance Criteria
- [ ] Typescale for all components across the site should match the designs here: https://www.figma.com/file/Lo1ZcBOO9t4QRbX2I0PwBQ/RBB?node-id=2%3A41
- [ ] Variables for the defined font sizes are created and leveraged throughout the site.

## Describe the solution yo

[2020-07-26 19:48] magnificode opened #313 "[Feature] Adjust business listing grid"
## User Story
As a user
I want to see 12 business listings per page
So I can more easily scan business listings

## Acceptance Criteria
- [ ] Business listing grid contains a max of 12 cards
- [ ] Each card sizes dynamically between 325px (min) and 450px (max)
- [ ] Each row should contain between 1 and 4 cards based on the defined min and max above.

## Describe the solution you'd like
The busine

[2020-07-26 20:00] magnificode opened #314 "[Feature] Update link styles across the site"
## User Story
As a user
I want to see consistent link styles across the site

## Acceptance Criteria
- [ ] Ensure all link styles throughout the site match the brand guidelines defined here: https://www.figma.com/file/Lo1ZcBOO9t4QRbX2I0PwBQ/RBB?node-id=2022%3A4381

## Describe the solution you'd like
We need to make sure that all text link styles match the designs outlined above, for both light an

[2020-07-26 20:16] #279 closed

[2020-07-26 20:16] #306 closed

[2020-07-26 20:41] tinyherocarrot commented on #305
@magnificode Hi new contributor here! I'd be happy to tackle this feature

[2020-07-27 17:40] magnificode commented on #305
@tinyherocarrot excellent! Thank you so much for stepping in! If you have any questions or concerns at all, please don't hesitate to reach out :)

[2020-07-27 17:43] Mhmdabed11 commented on #313
I can take this since I have worked before on the businesses page. Should we have 12 listings including the promo ?

[2020-07-27 18:57] #311 closed

[2020-07-27 19:51] AdrianTNare commented on #314
i'll take this one .

[2020-07-27 20:09] magnificode commented on #313
@Mhmdabed11 thanks for picking this up! I think technically we'll want 11 listings + the promo, for a total of 12 cards in the grid. Let me know if you have any other questions!

[2020-07-27 20:10] magnificode commented on #314
Thanks a ton @AdrianTNare - Let me know if you have any questions or concerns!

[2020-07-28 09:16] Mhmdabed11 commented on #313
@magnificode. In the below image, each card has a width of 325px (which is the min mentioned above). Below, I had to adjust the `max-width` of the page from `1220px` to `1518px` to account for the `325px` card width. I think that it became a bit crowded in this case.

 ![image](https://user-images.githubusercontent.com/39762577/88641933-8153a280-d0c8-11ea-922f-3732adec3972.png).

What I found look

[2020-07-29 22:49] magnificode commented on #313
@Mhmdabed11 this is great, thank you so much for the thorough documentation. Let me pull @shapirone in here to comment on the top screen shot.

Looks like some of our listings with multiple buttons are looking a bit squished at this scale. Any thoughts on how we can address that?

[2020-07-29 23:35] shapirone commented on #313
Good catch @Mhmdabed11 - what's the min. width you're recommending for the card?

[2020-07-31 11:17] Mhmdabed11 commented on #313
Sorry for the late reply!! @magnificode  You are welcome! @shapirone Actually I think that a min width of `348px` for a card given you have 3 cards on a row makes sense at this point. Given the max-width of `main` is `1220px`, padding is `3rem` left and right and `grid-gap: 2.5rem`, `348px` is what remains for the each card.

[2020-07-31 15:03] shapirone commented on #313
Got it, thanks again @Mhmdabed11 ! Let's make the min-width of the card 350px.

[2020-07-31 16:40] Mhmdabed11 commented on #313
@shapirone 325px with row having 4 grid items? If that is the case then we have to increase the max-width of the parent container

[2020-07-31 16:48] shapirone commented on #313
@Mhmdabed11 I'm not sure why we would limit `main` to 1220px - I would prefer 1600px.

@magnificode do you have input there?

[2020-08-02 19:07] magnificode commented on #313
@Mhmdabed11 @shapirone feel free to bump that up to 1600! No harm in increasing the grid size on larger screens.

[2020-08-07 14:12] magnificode commented on #314
Hey @AdrianTNare - wanted to check in here real quick and see if there was anything I could do to help, or if you had any questions about the task!

[2020-08-07 14:12] magnificode commented on #305
Hey @tinyherocarrot - wanted to check in here and see if there was anything I could do to help, or if there were any questions about the task!

[2020-08-07 14:24] magnificode commented on #281
I think we've handled what we can with this issue at this point. We may want to consider creating a new task to add a loader to the site that will wait for all assets to load before animating the site in. Closing for now, we can create a new issue down the line for a loader if we wish!

[2020-08-07 14:24] #281 closed

[2020-08-07 14:25] magnificode commented on #282
Hey @ElishebaW - sorry to have such a late reply in this issue, but were you interested in taking this task? No worries if too much time has passed and your availability has changed :). Just want to make sure I don't pass this off before checking with you!

[2020-08-07 14:27] magnificode commented on #287
Closing this issue, we'll re-open some more specific issues as they crop up.

[2020-08-07 14:27] #287 closed

[2020-08-07 19:36] elchris commented on #268
For calling the API:

in the search results, you will notice that each record has a field called "id" which is an integer.

this is the field that you can plug into an individual business data request:

https://api.rbb-api.com/api/v1/businesses/13557

[2020-08-07 23:21] AdrianTNare commented on #314
hey, @magnificode, I only have one question so far: will these changes affect all the different types of Links that we have, or do they only apply to our custom Link component?

[2020-08-11 16:31] magnificode commented on #314
@AdrianTNare this should affect all links for consistency throughout the site. Thanks for checking in, let me know if you need anything else!

[2020-08-14 11:18] Mhmdabed11 commented on #289
I can start on this issue if nothing is on hold!

[2020-08-15 15:40] tinyherocarrot commented on #305
Hey Dominic,

Thanks for checking in, I haven't done any development on my local machine
in some time, and when I went to setup the forked repo I started finding
problems with my node install and errors from HomeBrew etc. What a
headache. I apologize for the delay, I know this should be a simple task

Andrew

On Fri, Aug 7, 2020 at 7:13 AM Dominic Magnifico <notifications@github.com>
wrote:

--
An

[2020-08-16 01:14] magnificode commented on #289
@Mhmdabed11 that would be excellent, thank you so much!

[2020-08-17 09:52] Mhmdabed11 commented on #289
@magnificode
![image](https://user-images.githubusercontent.com/39762577/90382956-2807df00-e088-11ea-9274-3682de371279.png)
I have a list of questions regarding this issue:
- Where can I find the public Id of the image above
- What should happen when the button in the card above is pressed?
- Currently I am fetching businesses using a Graphql query on Airtable businesses collection . I cannot find

[2020-08-17 12:59] elchris commented on #289
Please don’t query AirTable directly, use our REST API for this:

https://api.rebuildblackbusiness.com/

Use the “Find Businesses” GET endpoint:

https://api.rbb-api.com/api/v1/businesses?in-need=true

And be sure to pass the x-api-key header whose value should come from a local .env file , which in your dev environment can be your personal api key from the portal and in production will be automat

[2020-08-17 13:01] Mhmdabed11 commented on #289
Okay @elchris  thank you for your input !!

[2020-08-17 18:02] SeHarlan commented on #283
I can take this on. I've contacted business team and design team to get it started

[2020-08-17 19:39] juanri0s commented on #310
Is this task open for me to pickup? I'd like to get some tests going here 😄

[2020-08-18 00:42] magnificode commented on #310
All you @juanri0s!

[2020-08-19 06:58] elchris opened #323 "[Feature] Improve New Business Registration Form to Leverage API & Editorial Pipeline"
## User Story
As someone who knows of a Black-Owned Business, or the owner of a Black-Owned Business
I want to Register a New Business but to also be guided as to whether the Business already exists, and be offered the ability to submit updates to the Business.
So I can avoid duplicating work or submitting multiple entries for the same Business.

## Background

At React Rally we announced the newe

[2020-08-20 17:41] tinyherocarrot commented on #305
@magnificode want to make sure I have the right idea before I dive into an approach.

1.  I assume this style change should be implemented through a separate stylesheet. I could not find an existing CSS stylesheet, so I should be writing a new one?

2. Can you please provide the colors for the restyle? It's hard to tell in the image provided.

[2020-08-21 04:19] wcouturiaux opened #325 "[BUG] Responsive Design of Business Listing"
**Describe the bug**
Business names are moving letter by letter to a new line as page size changes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.rebuildblackbusiness.com/businesses?location=detroit,%20michigan
2. Scroll down until you see the listing.
3. Manually resize the browser width to 1247px
4. Gradually increase the width to 1280px plus.

**Expected behavior**
Ent

[2020-08-21 04:25] wcouturiaux commented on #325
I also noticed the location for this seems to be wrong according to their website.

[2020-08-24 19:17] magnificode commented on #289
Merged in #321

[2020-08-24 19:17] #289 closed

[2020-08-27 21:16] magnificode commented on #283
Hey @SeHarlan ! So I merged your work into main, however after some further testing, and investigation, it appears that a bit more work is required in order to get Netlify forms working within a React app:

https://www.netlify.com/blog/2017/07/20/how-to-integrate-netlifys-form-handling-in-a-react-app/

Any chance you could look into this, and re-submit your PR? Sorry for the back and forth! My ine

[2020-08-27 21:42] magnificode commented on #325
@wcouturiaux - appreciate the bug submission and info, we'll get this queued up to be fixed ASAP!

[2020-08-27 23:45] mbifulco commented on #325
If someone wants to tackle this, it should be a [relatively straightforward CSS fix ](https://css-tricks.com/almanac/properties/o/overflow-wrap/)- `good first issue` material!

Feel free to @ me here or on Discord if you'd like help 👍

[2020-08-29 06:49] #314 closed

[2020-08-30 22:24] mbifulco opened #330 "[BUG] We need to choose a lockfile / package install tool"
**Describe the bug**
I noticed we have both package-lock.json and yarn.lock files in the repo.  We should pick one and stick to it.  Typically I use yarn, but I'm happy to go with whatever works.  Any preference?

**To Reproduce**
Steps to reproduce the behavior:
1. peep the repo

**Expected behavior**
We should _only_ have one lockfile.  The resolution of this issue should remove one or the other

[2020-08-30 22:33] mbifulco commented on #330
Hey it turns out that there's [only 1 commit associated with `yarn.lock`](https://github.com/Rebuild-Black-Business/RBB-Website/commits/main/yarn.lock) and it was from me 😂

![image](https://user-images.githubusercontent.com/1844496/91670839-3544b500-eaef-11ea-964a-3e5e2975ff53.png)

Let's stick with `npm` - I'll put up a PR to get rid of `yarn.lock` and add it to `.gitignore`

[2020-08-31 13:20] #325 closed

[2020-09-07 05:50] juanri0s opened #340 "[BUG] Chrome Tablet - Clicking on mobile menu reduces content width"
**Describe the bug**
On Chrome for Tablet, when you click on the mobile menu, the menu is the size of a phone width and thus cuts down the width of the content.

**To Reproduce**
1. Go to RBB on Chrome for tablet
2. Click on mobile menu
4. See error with content width

**Expected behavior**
I expect the mobile menu to be responsive with the screen size and I also expect the content width does not

[2020-09-07 05:54] juanri0s opened #341 "[BUG] Mobile - website scrolling unuseable after clicking mobile menu"
**Describe the bug**
On mobile/tablet screens, the scroll becomes disabled after clicking the mobile menu icon.

**To Reproduce**
1. Go to RBB on mobile device (Apple Safari, Android Chrome tested)
2. Click on mobile menu
3. Close mobile menu
4. Try to scroll
4. See error

**Expected behavior**
I expect main content scrolling to be disabled when the menu opens but then is enabled when menu is clos

[2020-09-07 06:08] juanri0s commented on #341
Seems it only happens when you first initially load the site. After clicking navigating to each page and using the mobile menu, scrolling seems somewhat normal.

[2020-09-13 11:38] agbanusi commented on #285
HI @magnificode so you basically want two pages, one displaying the business vetting process and another with a form to fill in the details?

[2020-09-16 19:07] juanri0s opened #342 "[Feature] - Cookies Banner"
## User Story
As a user, I would like to know if my data is being collected so that I am aware of how it is being used.

## Acceptance Criteria
- [ ] Banner with a Cookie data collection message
- [ ] Top/bottom? (design not final)
- "We use cookies for X. For a complete overview checkout Y." (not final)

## Is your feature request related to a problem? Please describe.
Users should be notified if

[2020-09-16 19:13] juanri0s opened #343 "[Feature] Remove "show me" Business filter"
## User Story
Remove show me filter in Businesses page

![image](https://user-images.githubusercontent.com/8475305/93381616-eefd8e80-f82e-11ea-8a6f-df601747fe3a.png)

## Acceptance Criteria
- [ ] No dropdown for "show me"
- [ ] Users can still filter by location/type with no issues

## Is your feature request related to a problem? Please describe.
We would like to show all businesses vs "businesse

[2020-09-16 19:37] juanri0s opened #344 "[BUG] Disable Facebook Pixel Tracking in Dev"
**Describe the bug**
Facebook pixel tracking should only be enabled in live environment.

**To Reproduce**

**Expected behavior**

**Actual Behavior**

**Screenshots**

[2020-09-17 23:41] juanri0s opened #346 "[BUG] Fix Warnings/Errors in Dev Console on Business Page"
**Describe the bug**
"Failed prop type: Invalid prop `loadingState` of type `string` supplied to `BusinessFeed`, expected `object`." in BusinessFeed (at businesses.js:185)

"Failed prop type: Invalid prop `category` of type `object` supplied to `ResultCard`, expected `string`." in ResultCard (at BusinessFeed.js:51)

"Failed prop type: Invalid prop `location` of type `string` supplied to `ResultCar

[2020-09-18 07:11] Mhmdabed11 commented on #313
I think we can close this since it is done!

[2020-09-18 09:54] saraogipraveen commented on #346
Hi, @juanri0s I want to take this up.

[2020-09-18 13:21] #313 closed

[2020-09-20 19:14] #343 closed

[2020-09-20 19:15] #344 closed

[2020-09-20 19:26] #346 closed

[2020-09-20 23:24] #285 closed

[2020-09-21 13:05] ThugDebugger opened #352 "[Feature] Remove analytics (FB and Google) tracking when on dev"
This will help us with keeping our data cleaner

[2020-09-21 13:05] ThugDebugger opened #353 "[Feature] Make homepage landing searchable"
## User Story
As a user
I want to search for a black owned business through the home page
So I can quickly find the information I'm looking for without having to navigate to another page.

## Acceptance Criteria
- [ ] Search bar, and associated header indicating that a user can search for black owned businesses
- [ ] On submit, the user is taken to the business page, with their query shown and res

[2020-09-21 13:07] ThugDebugger opened #354 "Page for RBB API"
We should have this on the website itself so users can remain on our domain longer
Ticket to be created: Page for RBB TV

[2020-09-21 13:08] ThugDebugger opened #355 "[Feature] Page for RBB TV"
Centralize all of our properties so we can easily retarget these customers, along with ease of discussion

[2020-09-21 13:11] ThugDebugger opened #356 "[Feature] Careers Page (add to footer) for RBB"
Makes it easier for people to associate with how to find us in the Discord, and the opportunities we have (some will be paid in the soon future)

[2020-09-21 13:11] ThugDebugger opened #357 "[Feature] Create "Trends & Analytics" page (This will be an epic)"
We need to show the public what are the most searched black-owned brands and services, to help w/ targeting of the dollar in the community. Similar to Product Hunt but for black-owned brands

[2020-09-21 13:12] ThugDebugger opened #358 "[Feature] Add detailed tracking to store profile pages (Trends & Analytics Epic)"
Will enable us to start showing trends on what our users are searching for specific and retarget accordingly

[2020-09-21 17:26] #268 closed

[2020-09-22 01:45] #330 closed

[2020-09-29 21:19] magnificode commented on #266
Closing this out as it doesn't seem to be a trackable issue at the moment.

[2020-09-29 21:19] #266 closed

[2020-09-29 21:22] magnificode commented on #278
There will be a new ticket we will use to track redesigned filter changes. Closing this for now.

[2020-09-29 21:22] #278 closed

[2020-09-29 21:24] magnificode commented on #282
Going to close this issue out for now. We will eventually be refactoring Allies and how they are integrated into the system in the near future.

[2020-09-29 21:24] #282 closed

[2020-09-29 21:45] magnificode commented on #290
Most of this functionality is actually handled via the API. If we have a specific need for this utility function we can open a new issue. Closing for now.

[2020-09-29 21:45] #290 closed

[2020-09-29 21:50] magnificode commented on #305
@tinyherocarrot - 100% my fault for letting this slip through the cracks. Very very sorry for such a long delay in the response here.

I don't have issue with the approach you mention in 1. above. If setting global styles for form fields makes more sense we can certainly go that route. My assumption was that we could create "Styled" components that extends Chakra UI components with our custom styl

[2020-09-29 21:51] magnificode commented on #310
@juanri0s - were you able to make any headway here sir?

[2020-09-29 21:53] magnificode commented on #342
@juanri0s - do we have a message out to the business team to get us language to use in this banner?

[2020-10-01 13:54] sonAndrew commented on #341
Yes I have seen this as well. Can I be assigned this task to fix?

[2020-10-01 13:57] sonAndrew commented on #284
Hi, can I be assigned to this task?

[2020-10-01 14:02] juanri0s commented on #341
@sonAndrew yupp! Let me know if you have any questions

[2020-10-07 16:54] agbanusi commented on #357
Hi, I'm interested in doing this but I want to understand a little more. How do you want the page to be like a bar or pie chart that shows all categories/areas and shows the percentage for each category/area with svg drawings or a particular category/area is shown and average searches per day for the last 30days is shown with a trend line and also room for just checking the most searched?

[2020-10-11 20:29] tinyherocarrot commented on #305
@magnificode likewise, sorry for letting this drag on. I've made good progress and have restyled: Input (of varying types), Select (or dropdown).

Restyling the Checkboxes and Radio components will be more challenging, because Chakra doesn't have an easy way to replace the shape shown in the "selected" case, so I will have to write custom Checkbox & Radio components.

And one more question about t

[2020-10-11 20:33] tinyherocarrot commented on #305
Another question, should I restyle the form fields used in other places besides in src/components/Forms? Eg. the form fields in src/components/Filters?

[2020-10-16 21:28] juanri0s opened #363 "[Feature] Business Portal - User Registration Page in UI"
## User Story

As a Black business owner, I would like the ability to register as a user on RBB so that I may own my business information and content.

- Design is up to the developer but please work with us to get it finalized
- Try and follow the styling in Figma/RBB

[2020-10-16 21:28] juanri0s opened #364 "[Feature] Business Portal - User Login Page in UI"
## User Story

As a registered Black business owner, I would like the ability to login to the RBB owners portal so that I may own my business information and content.

- Design is up to the developer but please work with us to get it finalized
- Try and follow the styling in Figma/RBB
- Ability to reset password (Forgot my password)

[2020-10-16 21:28] juanri0s opened #365 "[Feature] Business Portal - User Login Page in UI"
## User Story

As a Black business owner, I would like the ability to register as a user on RBB so that I may own my posting.

- Design is up to the developer but please work with us to get it finalized
- Ability to reset password (Forgot my password)

[2020-10-16 21:29] #365 closed

[2020-10-16 21:31] juanri0s opened #366 "[Feature] Business Portal - Claim Business"
## User Story
As a registered Black business owner, I would like the ability to claim a business as my own.

Open questions:
- how is this claim being done?
- Any verification?

[2020-10-16 21:33] juanri0s opened #367 "[Feature] Owner's Portal - Manage Claimed Business"
## User Story
As a registered Black business owner, I would like the ability to manage (edit) the information belonging to my claimed business.

[2020-10-18 21:31] magnificode commented on #305
@tinyherocarrot appreciate the response! And thanks for the progress you've made so far, it's very helpful :)

There's a couple paths we can take here. We can certainly work with what we have in Chakra, and get as close as possible, and then iterate on this in the future. I'd have no problem with that at all. The goal here is just to start getting these form elements standardized across the site.

[2020-10-18 21:32] magnificode commented on #284
@sonAndrew - apologies for the delay! Thanks for picking this up!

[2020-11-02 02:50] elchris opened #370 "[BUG] Fix Home Page Shows Incorrect Listings"
**Describe the bug**
https://www.rebuildblackbusiness.com/businesses/ is still making this api call:

https://api.rbb-api.com/api/v1/businesses?page=1&pageSize=11&in-need=true

with the "in-need" in the parameter, when that parameter should be omitted entirely. I think I called this out like a month ago.

essentially it should show you the same results as if you clicked "search" on the form with n

[2020-11-02 02:53] elchris opened #371 "[BUG] Fix pre-generation of Business Profile pages for newly-added pages since manual generation"
**IMPORTANT NOTE**

This issue is superseded by #374 -- Do not work on this issue for the time being. We will likely close it once #374 is completed.

**Describe the bug**
it would appear that any new business added to our directory since we last "pre-generated the pages" does not have a "profile page" generated for it. It appears to be all businesses on the first two pages of results up to middle

[2020-11-02 02:58] elchris opened #372 "[BUG] Fix SEO on Business Profile Pages"
**IMPORTANT NOTE**

This issue is superseded by #374 -- Do not work on this issue for the time being. We will likely close it once #374 is completed.

**Describe the bug**
As far as I can tell, all Business Profile Pages are completely devoid of any information indexable by search engines, despite the fact that they are being server-side generated at build-time.

**To Reproduce**
Steps to reproduc

[2020-11-08 15:20] ThugDebugger opened #373 "[BUG] New business profiles are not loading correctly"
**IMPORTANT NOTE**

This issue is superseded by #374 -- Do not work on this issue for the time being. We will likely close it once #374 is completed. It is also a duplicate of #371 .

**Describe the bug**
Sometimes when a new business is added, the profile page doesn't generate correctly which then results in a 404

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.rebuildbla

[2020-11-09 04:09] elchris commented on #373
as discussed in discord, this issue is a duplicate of #371 but it's also very helpful in describing the problem.

[2020-11-09 04:29] elchris opened #374 "[BUG] / [FEATURE] Convert "Business Profiles" to simple Single-Page App, Give-up SEO for Now, and Change URL Scheme to Reference API ID instead of AirTable ID"
**NOTE**: This issue would replace #372 and #371
**NOTE**: All API URLs which I pasted below will not work without an **?apiKey=** parameter appended to them. You can obtain your own API key instantly by visiting and registering at: https://api.rebuildblackbusiness.com and from there you can actually [read the API doc](https://developer.rbb-api.com/doc) from which you can explore the various API e

[2020-11-09 04:44] elchris opened #375 "[Feature] [Architecture] Migrate to NextJS for Dynamic On-Demand Page Generation"
so it looks like NextJS does indeed support React true server-side rendering, unlike Gatsby:

https://nextjs.org/learn/basics/create-nextjs-app
https://nextjs.org/docs/basic-features/pages#server-side-rendering
https://nextjs.org/docs/basic-features/data-fetching#getserversideprops-server-side-rendering
- they definitely try to nudge you toward deploying to their platform https://vercel.com/pricin

[2020-11-09 14:48] Mhmdabed11 commented on #374
I can work on this. So from what I understand, we need to make the individual business information page a client side route and fetch data dynamically.

[2020-11-09 19:06] elchris commented on #374
Yesssss!

[2020-11-09 21:11] elchris opened #376 "[Feature] Business Owner "Business Claim Badge" Static HTML/CSS Mockup Page Example for Owners Portal"
## User Story
Once a Business Owner has claimed and verified their ownership of a given business, we would like to make a public-facing URL on the Owners' Portal which will showcase the following:

- "Business Name" has been verified by RebuildBlackBusiness.com to be owned by "Owner First/Last Name"
  - "Business Name" would be a link to their "Business Profile Page".
- Some area showing the Selfi

[2020-11-13 15:24] #374 closed

[2020-11-13 20:59] #372 closed

[2020-11-13 21:00] elchris commented on #372
handled with #374 -- we will give up on SEO for now, but with @racedale 's work on migrating to NextJS on #375 , we will be able to resurrect SEO at that time.

[2020-11-13 21:01] #371 closed

[2020-11-13 21:01] elchris commented on #371
Fixed with #374 - thank you @Mhmdabed11 !!!

[2020-11-13 21:03] elchris commented on #373
This was fixed by #374 - thank you @Mhmdabed11

Note, the new url for the above business is:

- https://www.rebuildblackbusiness.com/business/legendaire-distilled-spirits-13695

[2020-11-13 21:04] #373 closed

[2020-11-13 21:04] elchris commented on #373
see above comment

[2020-11-13 21:05] elchris commented on #370
This was fixed as part of #374 -- thank you @Mhmdabed11  !!!!

[2020-11-13 21:05] #370 closed

[2020-11-13 21:05] elchris commented on #370
see above comment

[2020-11-13 21:06] elchris opened #379 "[BUG] "Register A Business" Form: Make Protocol Mandatory on ALL URLs"
**Describe the bug**
When filling out information to Register a Business, a user is still allowed to enter URLs without a protocol. We must enforce that client side.

**To Reproduce**
Steps to reproduce the behavior:
1. Go here https://www.rebuildblackbusiness.com/businesses
2. Click on 'Register a Business'
3. Scroll down to 'Website'
4. Notice that while it suggests that you enter a protocol, it

[2020-11-13 21:56] brianjhanson commented on #379
I can take a look at this one

[2020-11-14 01:55] elchris opened #380 "[Feature] Showcase RBB Episodes on Site"
## User Story
As a user
I want to see all RBB Episodes from YouTube in one location on the RBB website
So I can click and view them

## Acceptance Criteria
- [ ] Add a link called "RBB TV" to the top navigation bar, as the last item after "Allies"
- [ ] A dedicated page showcasing every episode listed here: https://www.youtube.com/channel/UCk01dYcLW-j3W_cND0lc0vQ
- [ ] A call to action button next

[2020-11-14 14:25] brentmclark commented on #353
I can take this one.

[2020-11-20 07:43] elchris opened #383 "[Feature] Search by "Text" and "Near Me""
## User Story

## Goals:

### Location Sniffing Goals:
- Most users just want to find things near them
  - Having to type their location in a box is somewhat overkill and redundant
  - It also requires us to query a Google API to find lat/long pairs

### Searching for Things Goals:
- Users also want to search for "things", by typing things in a text search box like they would in google:
  - shoes

[2020-11-22 21:08] #353 closed

[2020-11-22 21:08] #379 closed

[2020-11-24 03:18] brianjhanson opened #384 "Implement Formik and Yup for forms and validation"
[Formik](https://formik.org/docs/overview) mixed with [Yup](https://github.com/jquense/yup) provide a great developer experience as well as pave the way for more complex validation which leads to a better user experience and more consistent data flowing to the API. We should add them and use them for the forms on the site and expand on the work done in #381

[2020-11-25 05:44] juanri0s opened #385 "[Feature] - Repurpose Allies Page into a Business Resources Page"
## User Story

As a user I want to look through various Business Resources for Black-owned businesses as well as upload my own resources.

## Acceptance Criteria
- [ ] Allies page goes away and should now be a business resource page
- [ ] Pull business resources from air table for now
- [ ] Repurpose form to allow users to upload their own resources
- [ ] Hyperlink to redeem/learn more about the r

[2020-12-11 01:23] noodnik2 commented on #363
Is this feature still desired?

[2020-12-11 02:26] elchris commented on #363
Hi sorry my bad I need to close this because I’ve already built this, I’ll be launching it soon

[2020-12-11 02:27] elchris commented on #363
All owner portal features are built and will be launching soon. I’ll try to clean these tickets soon

[2020-12-11 17:14] noodnik2 commented on #363
OK, thanks for the quick reply.  I thought I might help out here, can you suggest something needing to be done that I might consider?  I'm generally back-end, but know React just enough to be dangerous as well ;-).

[2020-12-11 17:18] juanri0s commented on #363
@noodnik2 Hi, theres one feature we want to get out in the next week that I already started on that if you want to finish out you can. December is a busy month at my job so its been tough to dedicate the last remaining stuff. Feel free to message me on the Discord and I'll pass off the branch to you!

[2020-12-15 00:53] noodnik2 commented on #363
I joined the discord (noodnik#0192), and feel a bit overwhelmed by the size of this business - it seems huge!  I pinged you there, but might prefer to communicate here, since I currently don't use discord very much (perhaps that'll change? 🤔).

I'd be happy to take a look at an existing changelist and grok the story / acceptance criteria / timeframe in order to see if I can help out on this one.

[2020-12-18 17:04] magnificode commented on #384
Closed by #381

[2020-12-18 17:04] #384 closed

[2020-12-19 17:25] brianjhanson commented on #384
Hey @magnificode #381 didn't actually add this. That one implements some custom validation which is probably less than ideal. My original goal was to make it a bit more solid with this ticket.

[2020-12-19 17:39] brianjhanson commented on #380
I can give this one a try. I also think it might be a duplicate of #355.

How are we planning to get the videos from YouTube?

It looks like we could use the [search:list](https://developers.google.com/youtube/v3/docs/search/list) API endpoint, but that does require authorization, either via OAuth or an API key. OAuth is probably better long term, but takes a bit more effort to implement. If we de

[2020-12-19 17:54] brianjhanson commented on #383
I can take a run at this one.